
body {
margin: 0 0 0 0;
background-color: #fff;
}

a {
text-decoration: none;
color: #06f;
}

input {
width: 120px;
}
a:hover {
text-decoration: underline;
color: #06f;
}

#preload {
width: 0;
height: 0;
display: inline;
background-image: url('{{MEDIA_ROOT}}/images/menubg.jpg');
}

.header {
width: 100%; height: 80px;
margin: 0 0 0 0;
background-color: #3b3b3b;
vertical-align: bottom;
z-index: 1;
}

.header h1 {
	display: block;
	position:absolute;
	top: 17px;
	right: 40px;
	padding: 0;
	background-color: transparent;
	color: #fff;
	font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
	font-size: 35px;
	font-weight: 400;
	z-index: 4;
}

span {
color: #06f;
}

.header big {
float: right;
margin: 50px 0 0 0; padding: 0;
color: #444;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
font-size: 100px;
letter-spacing: -11px;
}

#menu {
position: absolute; top: 150px;
width: 100%;
height: 61px;
margin: 0 0 0 0;
background-color: #000;
border-top: solid 1px #fff;
border-bottom: solid 1px #fff;
z-index: 3;
text-align: center;
}


#menu ul {
margin-top: 20px;
}

#menu ul li {
display: inline;
}

#menu ul li a {
background-color: transparent;
background-repeat: repeat-x;
padding: 14px 20px 14px 20px;
font-size: 0.8em;
font-family: 'century gothic', verdana, sans-serif;
color: #666;
font-weight: bold;
text-decoration: none;
border: solid 1px #000;
}

#menu ul li a:hover {
background: #06f url('{{MEDIA_ROOT}}/images/menubg.jpg') repeat-x top;
color: #fff;
text-decoration: none;
border: solid 1px #fff;
}

#main {
position: absolute; top: 101px;
width: 100%;
background: url('main.jpg') repeat-x top;
}

#container {
width: 90%;
margin: 0 auto;
padding-top: 50px;
font-family: arial;
font-size: 0.9em;
}

#subnav {
clear: left;
float: left;
width: 140px;
padding: 0;
font-size: 0.6em;
font-family: verdana, arial, sans-serif;
}

#subnav ul {	
list-style: none;
width: 140px;
margin: 0 0 20px 0;
padding: 0;
font-size: 1.1em;
}	

#subnav li {
margin-bottom: 1px;
}

#subnav li a {
font-weight: bold;
height: 20px;
text-decoration: none;
color: #cccccc;
display: block;
padding: 5px;
background: #3b3b3b;
border-right: 10px solid #fff;
}	
	
#subnav li a:hover {
background: #06f;
color: #ffffff;
border-right: 10px solid #06f;
}

#subnav .child {
font-size: 0.9em;
padding: 0;
}

#subnav .child a {
height: 14px;
padding-left: 10px; 
border-right: 10px solid #fff;
background: #bbb;
color: #666;
}

#subnav .child a:hover {
color: #06f;
background-color: #e0e0e0;
border-right: 10px solid #fff;
}

#content {
margin: 0px 160px 10px 165px;
border-right: 1px solid #ccc; padding: 0 20px 0 0;
line-height: 1.6em;
height: 485px;
color: #666;
font-size: 0.9em;
}

#content p {
padding-bottom: 5px;
}

h1 {
margin-top: 0px;
color: #06f;
letter-spacing: -2px;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
}

h2 {
margin-top: 20px;
margin-bottom: 10px;
color: #666;
letter-spacing: -1px;
font-size: 1.3em; font-weight: 400;
font-family: 'trebuchet ms', 'century gothic', verdana, sans-serif;
}


.right {
float: right;
margin: 0 0 8px 12px;
padding: 4px;
background-color: #FFF;
border: 1px solid #CCC;
}

#footer {
padding: 5px;
margin-top: 50px;
margin-bottom: 3px;
color: #aaa;
font-size: 0.7em;
text-align: center;
border-top: 1px solid #ccc;
}

#extras {
clear: right;
float: right;
width: 140px;
margin-left: 10px;
margin-bottom: 20px;
margin-top:20px;
padding: 0;
color: #666;
}

#extras p {
line-height: 1.5em;
margin: 0 0 1.5em 0;
font-size: 0.7em;
}

#box1 {
background: #fff url('{{MEDIA_ROOT}}/images/boxbg.jpg') repeat-x top;
border: 0px solid #ccc;
width: 30%;  
float: left; 
margin: 0 2px; text-align: left;
padding: 1px; 
}

#box2 { 
background: #fff url('{{MEDIA_ROOT}}/images/boxbg.jpg') repeat-x top;
border: 0px solid #ccc;
margin: 0 auto;
width: 30%;  text-align: left; 
padding: 1px;
}

#box3 { 
background: #fff url('{{MEDIA_ROOT}}/images/boxbg.jpg') repeat-x top;
border: 0px solid #ccc;
width: 30%; 
float: right; 
margin: 0 2px; text-align: left;
padding: 1px;
}


#box1 h2, #box2 h2, #box3 h2 {
margin-left: 4px;
}

.center {
text-align:center;
display:block;
margin-top: 15px;
}

.box {
margin: 0 4px 10px 4px;
line-height: 1.3em;
font-size: 0.8em;
border: 0;
}

div#demo {
	margin: 50px auto 50px auto;
	text-align: center;
}

div#demo ul#menu {
    margin: 5px 0px;
    list-style: none;
    display: inline-block;
}
    
div#demo ul#menu li {
    padding: 0px;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: 48px;
    height: 48px;
}

div#demo ul#menu li a {
    position: absolute;
}

div#demo ul#menu li img {
    position: absolute;
    width: 48px;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0 8px 0 0;
    border: none;
    overflow: hidden;
}

.awesome{
background: #222 url(/images/alert-overlay.png) repeat-x;
display: inline-block;
padding: 3px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: .5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
width:80px;
}

.awesome:hover {
  
   color: #06f;
   }
.awesome_button:active {
   border-top-color: #0864a1;
   background: #0864a1;
   }


/* -------------
 * Buttons
 * ------------- */
.jnice button {margin:0;padding:0;border:none;background-color:transparent;cursor:pointer;overflow:visible;outline:none;moz-outline:none;}
*:first-child+html button[type]{width:1;} /* IE7 */

.jnice button span {
	background: transparent url(elements/btn_right.gif) no-repeat scroll right top;
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
}

.jnice button span span {
	background: transparent url(elements/btn_left.gif) no-repeat;
	color: #FFFFFF;
	padding: 1px 4px 0px 8px;
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	text-transform: lowercase;
	display: block;
	text-decoration: none;
}

/* -------------
 * Inputs
 * ------------- */
.jNiceInputWrapper {
	background: transparent url(elements/input.gif) no-repeat left top;
	float:left;
}

.jNiceInputInner {
	background: transparent url(elements/input.gif) no-repeat right top;
	padding: 2px 4px 2px 0;
	margin: 0 0 0 4px;
}

.jNiceInputInner input {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#404040;	
	line-height: 17px;
	height: 17px;
	*line-height: 15px;/* IE Hacks */
	*height: 15px;/* IE Hacks */
	vertical-align:middle;padding:0;margin:0;background:none;border:none;outline:none;
}

.jNiceInputWrapper_hover { background-position: left bottom; }
.jNiceInputWrapper_hover .jNiceInputInner { background-position: right bottom; }


/* -------------
 * Radios
 * ------------- */
.jRadioWrapper { float: left; z-index: 2; }
.jNiceRadio {
	background: transparent url(elements/radio.gif) no-repeat center top;
	height: 18px;
	width: 18px;
	position:absolute;left:0px;top:0px;cursor:pointer;vertical-align:middle;
}


/* -------------
 * Checkboxes
 * ------------- */
.jNiceCheckbox {
	background: transparent url(elements/checkbox.gif) no-repeat center top;
	height: 18px;
	width: 18px;
	position:absolute;left:0px;top:0px;z-index:2;cursor:pointer;
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
.jNiceChecked { background-position: center bottom;}

/* -------------
 * Selects
 * ------------- */
.jNiceWrapper select {border:none;margin:0;padding:0;}

.jNiceSelectWrapper {
	height: 17px;
	left:0px;top:0px;z-index:3;position:absolute;
}

.jNiceWrapper iframe {position:absolute;z-index:1;width:100%;left:0px;top:0px;}

.jNiceSelectWrapper .jNiceSelectText {
	height: 15px;
	line-height: 15px;
	padding: 0px 3px;
	border: 1px solid #CCCCCC;
	border-right: none;
	background-color: #FFF;
	overflow:hidden;float:none;position:absolute;z-index:100;
}

.jNiceSelectWrapper .jNiceSelectOpen {
	width: 21px;
	height: 17px;
	background: url(elements/select_right.gif) no-repeat center center;
	z-index:100;display:block;position:absolute;right:0px;
}

.jNiceSelectWrapper ul {
	top: 16px;
	background-color: #FFF;
	border: solid 1px #CCC;
	height: 150px;
	position:absolute;left:0px;list-style:none;display: none;margin:0;padding:0;overflow-y:auto;z-index:100;width: 95%;
}

.jNiceSelectWrapper ul a {
	color:#0099CC;
	background-color: #FFF;
	display:block;padding:5px;text-decoration:none;
}

.jNiceSelectWrapper ul a:hover { background:#E1F5FF; }
.jNiceSelectWrapper ul a.selected {background: #EDEDED;}

.jNiceFocus { border: dotted 1px #666666; }

.jNiceHidden {opacity:0;z-index:-1;position:relative;}
.jNiceWrapper {position:relative;vertical-align:top;}
.jNiceWrapper input {outline:none;moz-outline:none;}

