<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="_your description goes here_" />
<meta name="keywords" content="_your,keywords,goes,here_" />

<link rel="stylesheet" type="text/css" href="{{MEDIA_ROOT}}/css/style.css" media="screen" title="style (screen)" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_ROOT}}/css/jquery-ui.css" media="screen" title="style (screen)" />
<script type="text/javascript" src="{{MEDIA_ROOT}}/js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_ROOT}}/js/jquery-ui.js"></script>
<script type="text/javascript" src="{{MEDIA_ROOT}}/js/jquery.bubbleup.js"></script>
<script type="text/javascript" src="{{MEDIA_ROOT}}/js/jquery.jNice.js"></script>
<title>greekgavel</title>



</head>

<body>

<div id="preload"></div>

<div class="header">
<h1>greek<span>gavel</span></h1>
</div>
<!-- Connecting You to Your Greek Life  -->



<div id="main">
<div id="container">

{% block left_col %}
<div id="subnav" style="display:none;">
<ul>
<li><a href="#">Subnav 1</a></li>
<li><a href="#">Subnav 2</a></li>
<li class="child"><a href="#">Child 1</a></li>
<li class="child"><a href="#">Child 2</a></li>
<li><a href="#">Subnav 3</a></li>
<li class="child"><a href="#">Child 3</a></li>
<li class="child"><a href="#">Child 4</a></li></ul>
</div>
{% endblock %}

{% block right_col %}
<div id="extras">
<h2>twitter</h2>
<script>

$(document).ready(function() 
    {

	$(function() {
			var availableTags = [];
			
			{% for uni in uni_list %}
			availableTags.push("{{uni}}");
			{% endfor %}

			$( "#unis" ).autocomplete({
				source: availableTags
			});
		});
		});	

</script>
<p style="">
<a href="http://twitter.com/#!/greekgavel">Follow Us</a>
</p>

<h2>about</h2>
<p>No more listservs.<br/><b>Ever.</b></p>


</div>
{% endblock %}

<div id="content">
<h1>welcome</h1>
<h2>Your Greek Life. Simplified.</h2>

<br/><br/>
<div id="login" style="position:relative; top: 50px;">
<input type="text" ><input type="text" style="position:relative;left:30px;"><input type="submit" class="awesome" style="position:relative; left: 100px;" value="Login >>">
</div>

<img src="{{MEDIA_ROOT}}/images/footer.png" style="margin-top:160px;">
<!-- 
<div id="box1"><p class="center"><img class="box" src="{{MEDIA_ROOT}}/images/star1.png" alt="" /></p><h2>project 1</h2><p class="box">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></div>
<div id="box3"><p class="center"><img class="box" src="{{MEDIA_ROOT}}/images/star2.png" alt="" /></p><h2>project 3</h2><p class="box">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></div>
<div id="box2"><p class="center"><img class="box" src="{{MEDIA_ROOT}}/images/star3.png" alt="" /></p><h2>project 2</h2><p class="box">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></div>
-->

<div id="footer">&copy; Your Company  |  Template by <a href="http://www.demusdesign.com">DemusDesign</a></div>



</div>

</div>

</div>


</body>

</html>